@font-face {
    font-family: 'MyFont';
    src:  url('./Aaargh-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
 }

.hello {
    color: red;
    background: url('./logo.png');
    background-repeat: no-repeat;
    font-family: 'Aaargh-webfont';
  }